<!-- Wappler include fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="home" appconnect="local" head-page="layouts/public" components="{dmxAnimateCSS:{}}" -->
<meta name="ac:route" content="/Home">
<div class="style3 container-fluid">
    <img src="/assets/images/MascotDraft.png" width="120px" dmx-animate-enter="fadeInDown">
    <img src="/assets/images/SCRIPTaSSISTtaG.png" alt="ScriptAssist" class="img-fluid" dmx-animate-enter.duration:2.0.random.delay:1="fadeInUp">
    <p class="style5">Look at that.&nbsp; It works.</p>
    <div class="row justify-content-center align-items-center w-75">
        <div class="col align-self-center text-center">
            <button id="btn1" class="btn btn-secondary" dmx-animate-enter="fadeIn">Agent Login</button>
        </div>
        <div class="col align-self-center text-center">
            <button id="btn2" class="btn btn-secondary" dmx-animate-enter="fadeIn">Agency Login</button>
        </div>
    </div>
</div>