<!-- Wappler include head-page="layouts/public" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="rebuttalAssist" appConnect="local" -->
<meta name="ac:route" content="/rebuttalAssist">
<div class="container h-100">
    <div class="row h-100">
        <div class="col h-100"><iframe src="https://app.aiwhitelabels.io/share?userId=598&id=1197" width="400" height="509" style="border-radius:0.5rem; border:none; loading='lazy'" referrerpolicy="unsafe-url" allow="clipboard-read; clipboard-write" id="prev-frame-id"> </iframe></div>
    </div>
</div>